* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FAFAFA;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background-color: #FAFAFA;
    border: 1px solid rgba(110, 103, 103, 0.079);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: black;
}

.input-box input {
    width: 100%;
    padding: 8px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}